/*************************TAG SELECTOR**************************/

h1{
  color:red;
  font-size: 50px;
}

img:hover{
  background-color: gold;
}


/***********************ATTRIBUTE SELECTOR*****************/
.bacon{
  background-color:green;
}
.broccoli{
  background-color:red;
}
.wah{
    border-radius: 100%;
}
/****************id selector*********************/
#heading{
  color:blue;
}
